<div class="container form-section card-section visible-section" style="width: 100%; animation: animatop 1.7s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;">
	<div id="cover-spin"><p>Please waith while we are enrolling your face...</p></div>
	<!-- main link -->
	<div class="row">
                <div class="col-sm-4">
                        <div class="nueoo-sec-3-left">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="justify-content: center; display: flex; font-weight: bold; border-radius: 4px;" title="User Info">
                                        <li class="nav-item">
                                                <a class="nav-link">Face Recognition</a>
                                        </li>
                                </ul>
                                <div class="tab-content" title="Face Recognition" style="text-align: center;padding: 4px;">
					<div class="row">
						<div class="col-sm-6">
							<button class="btn btn-sm btn-primary btn-start" id="errorButton">Face Recognition Not <br> Working? Click here</button>
						</div>
						<div class="col-sm-6">
							<button class="btn btn-sm btn-primary btn-start" id="geoButton">Geo Location Not <br> Working? Click here</button>
						</div>
					</div>

                                        <button class="btn btn-sm btn-primary btn-start" id="enrollButton">Start Enrollment</button>

                                        <button class="btn btn-sm btn-success btn-start" id="startButton">Check In</button>

                                        <button class="btn btn-sm btn-danger btn-start" id="endButton">Check Out</button>
                                </div>
                        </div>
                </div>

                <div class="col-sm-8">
                        <div class="nueoo-sec-3-left">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="justify-content: center; display: flex; font-weight: bold; border-radius: 4px;" title="User Info">
                                        <li class="nav-item">
                                                <a class="nav-link">Face Data</a>
                                        </li>
                                </ul>

				<div class="tab-content title_message" title="Title Message" style="text-align: center;padding: 4px;display:none;">
					<div id="msg"></div>
				</div>

                                <div class="tab-content enrollment" title="Enroll" style="text-align: center;padding: 4px;display:none;">
                                        <div id="cues"></div>
                                        <video id="enroll_preview" playsinline autoplay muted text-center></video>
                                </div>

				<div class="tab-content verification" style="display:none;text-align: center;padding: 4px;">
					<div id="countdown"></div>
					<video id="preview" playsinline autoplay muted text-center></video>
				</div>
                        </div>
                </div>
	</div><br>

	<div class="row">
		<div class="col-sm-4">
			<div class="nueoo-sec-3-left">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="justify-content: center; display: flex; font-weight: bold; border-radius: 4px;" title="User Info">
					<li class="nav-item">
						<a class="nav-link">Profile Image</a>
					</li>
				</ul>
				<div class="tab-content" title="User Info" style="text-align: center;padding: 4px;">
					<div id="profile_image"></div>
				</div>
			</div><br>

			<div class="nueoo-sec-3-left">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="justify-content: center; display: flex; font-weight: bold; border-radius: 4px;" title="User Info">
					<li class="nav-item">
						<a class="nav-link">Employee Info</a>
					</li>
				</ul>
			</div>
			<div class="tab-content" title="User Info">
				<table id="listview" title="Card"></table>
			</div>
		</div>
		
		<div class="col-sm-8">
			<div class="nueoo-sec-3-left">
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="justify-content: center; display: flex; font-weight: bold; border-radius: 4px;" title="User Info">
					<li class="nav-item">
						<a class="nav-link">Geo Location</a>
					</li>
				</ul>
				<div class="tab-content" title="User Info" style="text-align: center;padding: 4px;">
					<div id="map" style="height:450px"></div>
				</div>
			</div>
		</div>
	</div><br>
</div>
