.mb-3, .my-3 {
	margin-bottom: 0px !important;
}

table {
	border: 0px #f5f7fa solid;
	font-size: .9em;
	width: 100%;
	border-collapse: collapse;
	border-radius: 4px;
	overflow: hidden;
}

th {
	text-align: center;
}
  
thead {
	font-weight: bold;
	color: #000;
	background: #f5f7fa;
}
  
td, th {
	padding: 1em .5em;
	vertical-align: middle;
	text-align: center;
}
  
td {
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: #fff;
}

a {
	color: #000;
}

@media all and (max-width: 768px) {
	table, thead, tbody, th, td, tr {
		display: revert;
	}
  
	th {
		text-align: right;
	}
  
	table {
		position: relative; 
		padding-bottom: 0;
		border: none;
	}
  
	thead {
		float: left;
		white-space: nowrap;
	}

	tbody {
		overflow-x: auto;
		overflow-y: hidden;
		position: relative;
		white-space: nowrap;
	}
  
	tr {
		vertical-align: top;
		margin-left: 15px;
	}

	th {
		border-bottom: 1px solid #eee;
	}

	td {
		border-bottom: 1px solid #fff;
	}
}

/* -------form------ */

.nueoo-sec-3-right{
	background:#fff;
}

.nueoo-sec-3-left{
	background:#f5f7fa;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px;
	border-radius: 4px;
	border: 1px solid #eee;
}

.tab-content{
	border: 1px solid #eee;
}

.nueoo-log-a-call{
	padding: 10px 10px 10px 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
/*	color: #ffcd00;*/
}

.tab-content>.active {
	display: block;
}


/* profile */
.content {
	position: relative;
	/*animation: animatop 1.2s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;*/
}

.card {
	width: 100%;
	height: 280px;
	min-height: 100px;
	padding: 20px;
	border-radius: 4px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.card:after {
	content: '';
	display: block;
	width: 200px;
	height: 340px;
	background: #efefef;
	position: absolute;
	animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
	border-radius: 4px;
}

.badgescard {
	padding: 10px 20px;
	border-radius: 3px;
	background-color: #ECECEC;
	width: 480px;
	position: absolute;
	z-index: -1;
	left: 10px;
	bottom: 10px;
	animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}

.badgescard span {
	font-size: 1.6em;
	margin: 0px 6px;
	opacity: 0.6;
}

.firstinfo {
	flex-direction: row;
	z-index: 2;
	position: relative;
	animation: animatop 1.2s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.firstinfo img {
	border-radius: 50%;
	width: 220px;
	height: 190px;
}

.firstinfo .profileinfo {
	padding: 0px 20px;
}

.firstinfo .profileinfo h2 {
	font-size: 14px;
	font-weight: bold;
	color: #ffcd00;
}

.firstinfo .profileinfo h3 {
	font-size: 14px;
	color: #ffcd00;
	font-weight: bold;
}

.firstinfo .profileinfo p.bio {
	padding: 10px 0px;
	color: #ffcd00;
	line-height: 1.2;
}

.firstinfo .profileinfo p.smalltext {
	font-size: 13px;
	color: #ffcd00;
	line-height: 1;
	text-align: right;
}

@keyframes animatop {
	0% {
		opacity: 10;
		bottom: -500px;
	}
	100% {
		opacity: 1;
		bottom: 0px;
	}
}

@keyframes animainfos {
	0% {
		bottom: 10px;
	}
	100% {
		bottom: -42px;
	}
}

@keyframes rotatemagic {
	0% {
		opacity: 0;
		transform: rotate(360deg);
		top: -24px;
		left: -253px;
	}
	100% {
		transform: rotate(-30deg);
		top: -24px;
		left: -78px;
	}
}

/*--------------------------------------------------*/
/*---------------------SPINNER----------------------*/
#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1f272ed6;
  z-index: 9999;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: #a4a7aa;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}
/*--------------------------------------------------*/
/*--------------------------------------------------*/
.button1 {
  border-radius: 0px;
  background-color: #1a1a1a;
  color: white;
}
.button1:hover {
  border-radius: 0px;
  background-color: #a3a7aa;
  color: white;
}
/*---------------------------------------------------*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  /* font-size: 18px; */
}

.btn-start {
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  display: block;
  margin: 5px auto;
}

/* a {
  text-decoration: none;
  /* font-size: 22px; */
/* color: black;
} */

button:hover,
a:hover {
  opacity: 0.7;
}
div#countdown {
  font-size: 18px;
  /* color: red; */
  text-transform: uppercase;
}
.verification,
.enrollment {
  padding-top: 10px;
}

video {
  max-width: 100%;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.cues {
  font-size: 16px;
}
.countdown {
  color: red;
  border: 1px solid;
  padding: 0 5px;
  border-radius: 4px;
}
.fa-icon {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 991px) {
  #profile-card .card {
    display: none;
  }
}

#button-controls {
  display: none;
}

#startButton,
#endButton,
#enrollButton,
#hourlyButton {
  display: none;
}
